/* Format for medium screen sizes */

@media screen and (min-width: 32.5em) {

   body {      
      background-color: #add8e6;
   }

   .header {
      margin-top: 20px;
      border-radius: .5em;
      height: 120px; /* added - small = auto */
      padding-top: 0;
   }

   .header h1 {
      font-size: 3em;
      padding-left: 25%;
      line-height: 120px;
      padding-bottom: 0;
      padding-top: 0;
      text-align: left;
   }

   .header img {
      float: right;
      margin: 15px 15px 0 0;
      border-radius: 0 .5em 0 0;
   }

   .main h2 {
      font-size: 1.8em;
   }

   .footer {
      padding: 15px;
   }

   .footer p {
      font-size: inherit; /* check this */
   }

   .footer br {
      display: none;
   }

   #footer-pipe {
      display: inline;
   }

}