/* Format for medium screen sizes */

@media screen and (min-width: 32.5rem) {

   .headings h1 br {
      display: none;
   }

   .headings div {
      text-align: left;
      font-size: 1.2rem;
   }

   .headings h1 {
      font-size: 1.8rem;
   }

   .headings h1,
   .headings div {
      line-height: 1.15;
   }

   .colors-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: .5em;
   }

   .footer {
      padding: 15px;
   }

   .footer p {
      font-size: inherit;
   }

   .footer br {
      display: none;
   }

   #footer-pipe {
      display: inline;
   }

}