/* Format for medium screen sizes */

@media screen and (min-width: 32.5rem) {

   .headings h1 br {
      display: none;
   }

   .headings div {
      text-align: left;
      font-size: 1.2rem;
   }

   .headings h1 {
      font-size: 1.8rem;
   }

   .headings h1,
   .headings div {
      line-height: 1.15;
   }

   .main h2 {
      font-size: 1.5rem;
   }

   .footer {
      padding: 15px;
   }

   .footer p {
      font-size: inherit;
   }

   .footer br {
      display: none;
   }

   #footer-pipe {
      display: inline;
   }

   .forecast {
      display: block;
   }

   .summary-grid {
      top: 2rem;
      right: 2rem;
      width: 15rem;
      height: 12rem;
      padding: 15px;
      font-size: 1rem;
   }

   .article img {
      float: right;
      box-shadow: 0 0 20px rgba(0, 0, 0, .75);
      margin: 12px 10px 10px 30px;
   }

   .article+div {
      clear: both;
   }

   .contact {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: center;
      margin: 15px 10px;
   }

   .contact-map {
      display: block;
      margin-left: 0;
      margin-right: 20px;
   }

   .contact-address {
      margin-left: auto;
      margin-right: auto;
   }

   /* Gallery Page CSS */
   .gallery-grid {
      grid-template-columns: 1fr 1fr;
   }

   /* Form */
   form label.top textarea {
      max-width: none;
   }

   /* Town Card Styling */
   .cards section {
      flex-direction: row;
      max-width: 650px;
      width: 96%;
   }

   .cards section:nth-child(even) {      
      flex-direction: row-reverse;
   }

   .town-img {
      flex: 0 0 200px;
   }

   .town-data {
      flex: 1 1 auto;
      margin: 0;
   }

}