* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #FFFAFA;
   font-family: 'Lato', sans-serif;
   color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Raleway', sans-serif;
   margin: 0;
}

.header {
   height: 100px;
   text-align: center;
   padding-top: 30px;
   box-shadow: 0 4px 4px gray;
}

.header, .footer {
   color: #FFFAFA;
   background-color: #091d42;
}

.main {
   min-height: 600px;
}

.main picture img {
   display: block;
   margin: 50px auto;
}

/* note that this will not apply when data-src attribute has been removed 
 * by loadImages() function */
.main picture img[data-src] {
   filter: blur(0.2em);
 }
 
 /* transition says, when the specfied property changes, don't change it 
  * until after the dela you specifiy occurs - since the img[data-src] 
  * declaration is more specific, it will apply and not be overwrriten
  * by the more general img declaration here - when the data-src declaration
  * no longer applies, because we remove the attribute using JavaScript, the 
  * more general one applies, but the transition property allows that change
  * to be delayed for the time specified.
  * Last thing to keep in mind - in JavaScript, we are immediately changing 
  * the image src upon image load, but the blur is what we are transitioning */
.main picture img {
   filter: blur(0em);
   transition: filter 3.0s;
 }

.main,
.footer {
   max-width: 60rem;
   margin: 0 auto;
}

/* footer */

.footer {
   padding: 10px;
   height: 80px;
   text-align: center;
   box-shadow: 0 -2px 4px gray;
}

.footer p {
   font-size: .9em;
   padding-top: 2px;
   padding-bottom: 2px;
}

.footer a {
   text-decoration: none;
}

.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active {
   color: #FFFAFA;
}

.footer br {
   display: inline;
}

#footer-pipe {
   display: none;
}

.datetime {
   color: #f5f55e;
}